* {
  color: white;
  background: black;
  text-align: center;
}

.socials {
  display: grid;
  grid-template-columns: 0fr 1fr;
}

.YT {
  grid-column: 1;
}

#twitch-embed {
  grid-column: 2;
}


@media screen and (min-width: 600px) {
  .videos_2022 {
    display: grid;
    grid-gap: 50px;
    justify-content: center;
    width: fit-content;
  }

  .v2022_1 {
    grid-column: 1;
    grid-row: 1;
  }

  .v2022_2 {
    grid-column: 2;
    grid-row: 1;
  }

  .v2022_3 {
    grid-column: 3;
    grid-row: 1;
  }

  .v2022_4 {
    grid-column: 1;
    grid-row: 2;
  }

  .v2022_5 {
    grid-column: 2;
    grid-row: 2;
  }
}
